{% extends '/auth/base.html' %}
{% block title %}
	Forks and Points - Create your room
{% endblock %}
{% block content %}
    <div class="card d-flex" style="width: 22rem;">
        <div class="card-header text-center mt-3">
            <h3>What you want to do ?</h3>
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-success btn-block" data-mdb-ripple-init>Find your room</button>
            <button type="button" class="btn btn-success btn-block" data-mdb-ripple-init>Create your room</button>
        </div>
    </div>
{% endblock %}