{% extends 'questionnaire/partials/baseQuestionnaire.html' %}

{% block card_header %}
    What is your current weight? ⚖️
{% endblock %}

{% block card_body %}
    <p class="text-center">
        Please enter your weight in kg.
    </p>
    <input type="number" id="weight" class="form-control" name="weight" value="80" required>

{% endblock %}

{% block card_footer %}
	<div class="container d-flex justify-content-center align-items-center gap-2">
        <button class="btn btn-secondary" data-mdb-ripple-init id="backQuestion">Back</button>
        <button class="btn btn-success" data-mdb-ripple-init id="nextQuestion">Next</button>
    </div>
{% endblock %}