{% extends 'questionnaire/partials/baseQuestionnaire.html' %}

{% block card_header %}
    Are you allergic to anything? ⚠️
{% endblock %}

{% block card_body %}
    <p class="text-center">
        If you are not allergic to anything, <br> leave the field blank 📝 <br><br> If you have multiple allergies, please separate them with commas.
    </p>
    <input type="text" id="allergic" class="form-control" name="allergic" placeholder="e.g., nuts, milk, gluten">

{% endblock %}

{% block card_footer %}
	<div class="container d-flex justify-content-center align-items-center gap-2">
        <button class="btn btn-secondary" data-mdb-ripple-init id="backQuestion">Back</button>
        <button class="btn btn-success" data-mdb-ripple-init id="nextQuestion">Next</button>
    </div>
{% endblock %}