{% extends 'questionnaire/partials/baseQuestionnaire.html' %}

{% block card_header %}
	📋 Time for a Quick Review!
{% endblock %}

{% block card_body %}

    <p class="text-center mt-3">Before you start the duel, do a quick check-up! 🧐 Make sure you're ready for the culinary battle
        and no surprises are lurking! 🔍 If everything looks good, hit confirm and let the fun begin! ✨🍽️</p>

    <div id="summary-container" class="container">
        <p class="text-center"><strong>👤 Gender:</strong> <span id="summary-gender"></span></p>
        <p class="text-center"><strong>🎂 Birthday:</strong> <span id="summary-birthday"></span></p>
        <p class="text-center"><strong>📏 Height:</strong> <span id="summary-height"></span> cm</p>
        <p class="text-center"><strong>⚖️ Weight:</strong> <span id="summary-weight"></span> kg</p>
        <p class="text-center"><strong>🥗 Diet Preference:</strong> <span id="summary-diet"></span></p>
        <p class="text-center"><strong>🚨 Allergies:</strong> <span id="summary-allergies"></span></p>
    </div>

{% endblock %}

{% block card_footer %}
    <div class="container d-flex flex-row-reverse justify-content-center align-items-center gap-2">
        <button class="btn btn-success" data-mdb-ripple-init id="confirmAnswers">Next</button>
        <button class="btn btn-secondary" data-mdb-ripple-init id="backQuestion">Back</button>
    </div>
{% endblock %}

<script type="module" src="{{ url_for('static', filename='js/summary.js') }}"></script>
