<div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <form class="card" style="width: 22rem;" method="post" action="{{ url_for('auth.login') }}">
        <div class="card-body">
            <h5 class="card-title text-center mb-5">Log in</h5>

            <div class="form-outline mb-4" data-mdb-input-init>
                <input type="text" id="loginUsername" class="form-control"name="loginUsername" required>
                <label class="form-label" for="loginUsername">Username</label>
            </div>

            <div class="form-outline mb-4" data-mdb-input-init>
                <i class="far fa-eye trailing fa-fw pe-auto" id="show-password-toggle-icon"></i>
                <input type="password" id="loginPassword" class="form-control form-icon-trailing" name="loginPassword" required>
                <label class="form-label" for="loginPassword">Password</label>
            </div>
            <p class="text-center mt-3">
                Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up here</a>
            </p>

            <button type="submit" class="btn btn-success btn-block" data-mdb-ripple-init>Log in</button>
        </div>
    </form>

    <script>

        // Icon Example
        const loginPassword = document.getElementById('loginPassword');
        const toggleIcon = document.getElementById('show-password-toggle-icon');

        toggleIcon.addEventListener('pointerdown', (e) => {
          e.preventDefault();

            // Toggle input type between password and text
            if (loginPassword.type === 'password') {
              loginPassword.type = 'text';
              toggleIcon.classList.remove('fa-eye');
              toggleIcon.classList.add('fa-eye-slash');
            } else {
              loginPassword.type = 'password';
              toggleIcon.classList.remove('fa-eye-slash');
              toggleIcon.classList.add('fa-eye');
            }
          });
    </script>
</div>