<div class="container d-flex justify-content-center align-items-center flex-column" style="height: 100vh" id="form-container">
    <div id="notification-container">
        <p id="notification-message"></p>
    </div>

    <form class="card" style="width: 22rem;">
        <div class="card-body">
            <h5 class="card-title text-center mb-5">Sign up</h5>

            <div class="form-outline mb-4" data-mdb-input-init>
                <input class="form-control" type="text" id="signupUsername" name="signupUsername" required />
                <label class="form-label" for="signupUsername">Username</label>
                <i class="fas fa-exclamation-circle trailing" hidden id="username-exclamation"></i>
            </div>

            <div class="form-outline mb-4" data-mdb-input-init>
                <input class="form-control" type="email" id="signupEmail" name="signupEmail" required />
                <label class="form-label" for="signupEmail">Email</label>
                <i class="fas fa-exclamation-circle trailing" hidden id="email-exclamation"></i>
            </div>

            <div class="form-outline mb-4" data-mdb-input-init>
                <i class="far fa-eye trailing fa-fw pe-auto password-toggle-icon"></i>
                <input class="form-control form-icon-trailing password-field" type="password" id="signupPassword" required />
                <label class="form-label" for="signupPassword">Password</label>
            </div>

            <div class="form-outline mb-4" data-mdb-input-init>
                <i class="far fa-eye trailing fa-fw pe-auto password-toggle-icon"></i>
                <input class="form-control form-icon-trailing password-field" type="password" id="signupRepetPassword" name="signupRepetPassword" required />
                <label class="form-label" for="signupRepetPassword">Repeat password</label>
            </div>

            <p class="text-center mt-3">
                Do you already have an account? <a href="{{ url_for('auth.sign_in') }}">Sign in here</a>
            </p>

            <button type="submit" class="btn btn-success btn-block" data-mdb-ripple-init>Sign In</button>

        </div>
    </form>
</div>
<script type="module" src="{{ url_for('static', filename='js/signup.js') }}"></script>
