<div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <form class="card" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title text-center mb-5">Sign up</h5>

            <div class="form-outline mb-4" data-mdb-input-init>
                <input class="form-control" type="text" id="signupUsername" required />
                <label class="form-label" for="signupUsername">Username</label>
            </div>

            <div class="form-outline mb-4" data-mdb-input-init>
                <i class="far fa-eye trailing fa-fw pe-auto" id="show-password-toggle-icon"></i>
                <input class="form-control form-icon-trailing" type="password" id="signupPassword" required />
                <label class="form-label" for="signupPassword">Password</label>
            </div>

            <div class="form-outline mb-4" data-mdb-input-init>
                <i class="far fa-eye trailing fa-fw pe-auto" id="show-password-toggle-icon"></i>
                <input class="form-control form-icon-trailing" type="password" id="signupRepetPassword" required />
                <label class="form-label" for="signupRepetPassword">Repet password</label>
            </div>
        </div>
    </form>


</div>